@layer reset, base, tokens, recipes, utilities;

@layer base {
    :root {
        /* font-family: var(--font-simula); */
        overscroll-behavior-y: none;
        --plyr-color-main: #0026F5;
        font-variant-numeric: slashed-zero;
        font-kerning: normal;
        font-variant-ligatures: common-ligatures contextual;
        -moz-font-feature-settings: "kern", "liga", "clig", "calt";
        -ms-font-feature-settings: "kern", "liga", "clig", "calt";
        -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
        font-feature-settings: "kern", "liga", "clig", "calt";
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    #react-player iframe {
        width: 100%;
        height: 100%;
    }

    /* #plyr-player {
        width: 100% !important;
        height: 100% !important;
    } */
}
